---
---
{% include header.html active_tab='home' %}
      <figure>
        <img src="fgb.jpg"/>
      </figure>

      <p>I got my PhD from the <a href="http://www.eecs.berkeley.edu/">Electrical Engineering and Computer Sciences</a> department at <a href="http://www.berkeley.edu/">UC Berkeley</a> advised by Professor <a href="http://robotics.eecs.berkeley.edu/~ronf/">Ron Fearing</a> in the <a href="http://robotics.eecs.berkeley.edu/~ronf/Biomimetics.html">Biomimetic Millisystems Lab</a>. My dissertation work focused on robust indoor navigation of unsteady robots using optical flow and on learning control policies for efficient locomotion of legged robots over rough terrain. This last project was a collaboration with Professor <a href="http://www.cs.berkeley.edu/~pabbeel/">Pieter Abbeel</a>. During my time at Berkeley, I was also affiliated with the <a href="http://redwood.berkeley.edu/">Redwood Center for Theoretical Neuroscience</a> headed by Professor <a href="http://redwood.berkeley.edu/bruno/">Bruno Olshausen</a>.</p>

      <p>I'm fascinated by the challenging subject of autonomous robot navigation, which draws me to the fields of computational biology, active perception, computational neuroscience, and adaptive control.</p>

      <p>In a previous life, I studied Aerospace Engineering at <a href="http://www.fit.edu/">Florida Tech</a>. Advised by Professor <a href="http://www.fit.edu/faculty/profiles/profile.php?tracks=hgutier">Hector Gutierrez</a>, I did undergraduate research on real-time closed-loop control of a Maglev launch vehicle developed by NASA.</p>

      <p>I'm currently an embedded software engineer at <a href="http://www.yaskawa.com/">Yaskawa</a>, where I hack on the real-time firmware of industrial controllers.</p>
{% include footer.html %}
