body{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background:#383E3F;
  border-top:4px solid #383E3F;
  font: 100% tahoma,helvetica,sans-serif;
  line-height:1.5em;
  text-align:right;
}

header nav ul li{
  display: inline;
}
header nav ul li a{
  padding:0px 5px;
  color:#ccc;
  text-decoration:none;
}
header nav ul li a:hover{
  border-top:8px solid #91C33F;
  color:#ccc;
}
header nav ul li a.active{
  border-top:8px solid #91C33F;
}

main{
  color:#FFFFFE;
  text-align:left;
}
main section header{
  margin-top: 10px;
  color:#aaa;
}
main section span.title{
  font-style: italic;
}
main figure{
  float:left;
  margin: 5px 10px 10px 5px;
}
main p{
  margin: 10px 5px 15px 5px;
}
main a{
  text-decoration:none;
  font-weight:normal;
  color:#818E8F;
}
main a:hover{
  color:#91C33F;
}
main a.pdf{
  float:right;
  text-align:right;
  padding:0px 10px 10px;
}

footer{
  color:#999;
}
footer span.at{
  color:#555;
}
footer span.sep{
  color:#91C33F;
}
