            </div>

            <div class="thanks">
                <a href="#" onclick="return hs.htmlExpand(this, { headingText: 'Acknowledgements'})">&lowast;</a>
                <div class="highslide-maincontent">
                    <p>I'd like to thank <a href="http://www.biermeyer.com/">Jan Biermeyer</a> for his expert advice on website design and programming.</p>
                    <p>The design of this website is based on the <a href="http://andreasviklund.com/templates/daleri-single/" title="Daleri Single">Daleri Single</a> CSS template by <a href="http://andreasviklund.com/" title="Andreas Viklund">Andreas Viklund</a>.</p>
                    <p>This overlay is powered by <a href="http://highslide.com/">Highslide JS</a>.</p>
                </div>
            </div>
            <p class="footer">fernando.l.garcia.bermudez <span class="footer_at">at</span> gmail.com <span class="footer_sep">|</span> Emeryville, CA <span class="footer_sep">|</span></p>

        </div>

    </body>

</html>
