<!DOCTYPE html>
<html>
    <head>

        <title>Fernando L. Garcia Bermudez</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="optical flow, computer vision, robots, robotics, aerial robotics, biologically inspired, biomimetics, learning, neural networks, machine learning" />
        <meta name="author" content="fgb" />

        <link rel="stylesheet" type="text/css" href="/main.css" title="Daleri Single mod" media="screen,projection" />

        <script type="text/javascript" src="/scripts/highslide-with-html.js"></script>
        <link rel="stylesheet" type="text/css" href="/scripts/highslide.css" />
        <script type="text/javascript">
            hs.graphicsDir = '/scripts/graphics/';
            hs.outlineType = 'rounded-white';
            hs.wrapperClassName = 'draggable-header';
        </script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-17429374-1', 'auto');
            ga('send', 'pageview');
        </script>

    </head>

    <body>

        <div id="wrap">

            <p class="toptabs">
                <strong class="hide">Main menu:</strong>
                <a class="toptab {% if include.active_tab == 'home' %}active{% endif %}" href="/">Fernando L. Garcia Bermudez</a><span class="hide"> | </span>
                <a class="toptab {% if include.active_tab == 'pubs' %}active{% endif %}" href="/pubs/">Publications</a>
            </p>

            <div id="maincontent">
