<!DOCTYPE html>
<html>
    <head>

        <title>Fernando L. Garcia Bermudez</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="optical flow, computer vision, robots, robotics, aerial robotics, biologically inspired, biomimetics, learning, neural networks, machine learning" />
        <meta name="author" content="fgb" />

        <link rel="stylesheet" type="text/css" href="/main.css" title="Daleri Single mod" media="screen,projection" />

        <script type="text/javascript" src="/scripts/highslide-with-html.js"></script>
        <link rel="stylesheet" type="text/css" href="/scripts/highslide.css" />
        <script type="text/javascript">
            hs.graphicsDir = '/scripts/graphics/';
            hs.outlineType = 'rounded-white';
            hs.wrapperClassName = 'draggable-header';
        </script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17429374-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </head>

    <body>

        <div id="wrap">

            <p class="toptabs">
                <strong class="hide">Main menu:</strong>
                <a class="toptab {% if include.active_tab == 'home' %}active{% endif %}" href="/">Home</a><span class="hide"> | </span>
                <a class="toptab {% if include.active_tab == 'pubs' %}active{% endif %}" href="/pubs/">Publications</a>
            </p>

            <h1>Fernando L. Garcia Bermudez</h1>

            <div id="maincontent">
