---
---
{% include header.html active_tab='pubs' %}
                <section>

                <header>Conference proceedings and abstracts</header>

                <p>Duncan W. Haldane, Kevin C. Peterson, Fernando L. Garcia Bermudez, and Ronald S. Fearing (2013) <br />
                <a href="http://dx.doi.org/10.1109/ICRA.2013.6631034" target="_blank"><span class="title">Animal-inspired design and aerodynamic stabilization of a hexapedal millirobot</span></a> <br />
                In ICRA 2013. Karlsruhe, Germany.</p>

                <p>Fernando L. Garcia Bermudez, Ryan C. Julian, Duncan W. Haldane, Pieter Abbeel, and Ronald S. Fearing (2012) <br />
                <a href="http://dx.doi.org/10.1109/IROS.2012.6386243" target="_blank"><span class="title">Performance analysis and terrain classification for a legged robot over rough terrain</span></a> <br />
                In IROS 2012. Vilamoura, Algarve, Portugal.</p>

                <p>Stanley S. Baek, Fernando L. Garcia Bermudez, and Ronald S. Fearing (2011) <br />
                <a href="http://dx.doi.org/10.1109/IROS.2011.6094581" target="_blank"><span class="title">Flight control for target seeking by 13 gram ornithopter</span></a> <br />
                In IROS 2011. San Francisco, CA, USA.</p>

                <p>Fernando L. Garcia Bermudez and Ronald S. Fearing (2010) <br />
                <span class="title">Flapping oscillations versus optical flow motion estimation</span> <br />
                In <a href="http://www.esf.org/activities/esf-conferences/details/2010/confdetail324.html" target="_blank">ESF-EMBO Symposium on Functional Neurobiology in Minibrains</a>. Sant Feliu de Guixols, Spain.</p>

                <p>Fernando L. Garcia Bermudez and Ronald S. Fearing (2009) <br />
                <a href="http://dx.doi.org/10.1109/IROS.2009.5354337" target="_blank"><span class="title">Optical flow on a flapping wing robot</span></a> <br />
                In IROS 2009. St. Louis, MO, USA.</p>

                </section>

                <section>

                <header>Theses and reports</header>

                <p>Fernando L. Garcia Bermudez (2010) <br />
                <a href="http://www.eecs.berkeley.edu/Pubs/TechRpts/2010/EECS-2010-96.html" target="_blank"><span class="title">Optical flow on a flapping wing robot</span></a> <a class="pdf" href="Garcia-Bermudez2010.pdf">pdf</a><br />
                Master's thesis. EECS Department, University of California, Berkeley.</p>

                </section>

                <section>

                <header>Talks</header>

                <p><span class="title">Towards indoor navigation of a flapping wing robot via optical flow</span> <a class="pdf" href="fgb_cifar-ncap_SummerSchool2010.pdf">slides</a><br />
                In <a href="http://www.cs.toronto.edu/~asamir/cifar/" target="_blank">CIfAR NCAP Summer School 2010</a>. University of Toronto, ON, Canada, August 2010.</p>

                <p><span class="title">Mili-robots biomiméticos y tecnologías asociadas</span> <br />
                MEMS Group Seminar. Centro Atómico Constituyentes, CNEA, Buenos Aires, Argentina, August 2008.</p>

                </section>
{% include footer.html %}
